@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');  // our custom font

// Font Variables
$raleway: 'Raleway', sans-serif;

// default font
$font-family-base: 'Raleway', sans-serif; 
$font-size-base: 1rem;  // Bootstrap default
$font-weight-normal: 400;  // default font thickness
